
.divImage{
    animation: girar 3s linear infinite;
    @keyframes girar {
      from {
        transform: rotate(0deg); 
      }
      to {
        transform: rotate(360deg); 
      }
    }
  }


.sectionHome{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1{
    font-family: var(--font-family);
    color: #4f7db8de; 
    font-size: 3rem;
    font-weight: 600;
    font-style: normal;
    padding: 2px;
}

.divTitle{
    width: 272px;
    background-color: #4f7db8;
    border-radius: 50%;
    height: 256px;
    margin-top: 46px;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.1); 
    }
}

.h3{
    font-family: var(--font-family);
    color: #4f7db8de; 
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
}


.divImages{
    margin-top: 15px;
}

.divH3{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divProjects{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 48px;
}

a{
    text-decoration: none;
}

.card{
    width: 200px;
    height: 448px;
    background-color: #4f7db8;
    border-radius: 20px;
    padding: 21px;
}

.cardA{
    color: #f5f5f5;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
}

.divTitleCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.textProject{
    color: #f5f5f5;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
}

.text{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: #f2ed57a8;
        transform: scale(1.1);
    }
}

.buttonText{
    text-decoration: none;
    color: #4f7db8;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
}

.buttonNuKenzie{
    margin-top: 35px;
    width: 150px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: #f2ed57a8;
        transform: scale(1.1);
    }
}

 
.divTitleDesigner{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 83px;
    border: 10px rgba(79, 125, 184, 0.8705882353);
    border-style: dotted;
    border-radius: 50%;
    padding: 63px;
    width: 176px;
    height: 145px;
}

@media (min-width: 720px) {
    .h1 {
      font-size: 4rem; 
    }
    .divImage {
      width: 80px; 
      height: 80px; 
    }
    
}

@media(min-width: 300px ) and (max-width: 720px){
    .h1 {
      font-size: 2rem; 
    }
    .h3{
      font-size: 3rem;
      line-height: 1.5;
      }
    .divImage {
        width: 50px; 
        height: 50px; 
    }
    .divTitleDesigner{
        width: 54px;
        height: 54px;
    }
    .divContent{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 44px;
    }
    .divSection{
        height: 50vh;
    }
    .divProjects{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .divH3 {
        width: 80%;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin-bottom: 44px;
    }
  }